* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "header_grid header_grid" "principal_grid ultimos_lanzamientos" "principal_grid promociones" "footer footer";
}

.header_grid {
    grid-area: header_grid;
}

.principal_grid {
    grid-area: principal_grid;
}

.ultimos_lanzamientos {
    grid-area: ultimos_lanzamientos;
}

.promociones {
    grid-area: promociones;
}

.footer {
    grid-area: footer;
}

div {
    border: 1px black solid;
}